@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-image: url("/storage/app/public/images/sp_top_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
}
body {
    background-image: url("/storage/app/public/images/68-688695_spongebob-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.menu-btn {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 3;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    color: #fff;
}

/* メニュー本体 */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: skyblue;
}
/* アニメーション部分 */
.menu {
    transform: translateX(100vw);
    transition: all 0.3s linear;
    list-style: none;
    color: white;
}

.menu.is-active {
    transform: translateX(0);
}
/* ここまで */

/* 一覧ページ */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* フラッシュメッセージ */
.success_message {
    background-color: green;
    color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    display: inline-block;
}

/* ユーザー登録時のメッセージ */
.create_message {
    background-color: green;
    color: white;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    display: inline-block;
}

/* バリデーションメッセージデザイン */
.error-message {
    color: red;
    font-size: 14px;
}
/* ここまで */

.flex-item {
    width: 30%;
    margin: 10px;
    text-align: center;
    text-shadow: 3px -2px 5px blue;
    color: white;
}

.flex-item li {
    padding: 5px;
    font-size: large;
    font-style: italic;
}

.profile-image {
    width: 100%;
}

.profile-info {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.profile {
    width: 50%;
    margin-left: 22%;
    padding-bottom: 20%;
    text-align: center;
    text-shadow: 3px -2px 5px blue;
    color: white;
}

/* ユーザー作成ページ */
.profile-create {
    text-align: center;
}

.profile-create li {
    padding: 1%;
}

/* メールページ */

/* 受信メール一覧の戻るボタン */
.profile_index {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    left: 25%;
    position: absolute;
    top: 34%;
}

.profile_index:hover {
    background-color: rgb(83, 255, 83);
}
/* ここまで */

.mail_page {
    text-align: center;
}

.mail_page h2 {
    font-size: 2.25rem;
    font-style: italic;
    margin-top: 10%;
    margin-bottom: 5%;
}

.recipient_user {
    font-size: 2rem;
}

.mail_page li {
    padding: 1%;
}

.mail_button {
    background-color: blue;
    color: white;
    padding: 0.5%;
    border-radius: 5px;
}

.mail_button:hover {
    background-color: greenyellow;
}

/* ここまで */

/* メール受信ボックス */
.mail_back {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 25%;
}

.mail_back:hover {
    background-color: rgb(83, 255, 83);
}

#mail_message li{
    list-style-type: decimal;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.mail_back_color {
    background-color: pink;
    overflow: auto;
    height: 500px;
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
}

.message_show {
    background-color: white;
    width: 50%;
    padding: 20px;
    margin-left: 25%;
    font-size: large;
    text-align: center;
    border-radius: 10px;
}

.message_show li {
    padding: 10px;
}

/* メール削除ボタン */
.message_delete {
    background-color: red;
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}

.message_delete:hover {
    background-color: rgb(253, 121, 121);
}

/* メール詳細画面の削除ボタン */
.message_destroy {
    background-color: red;
    color: white;
    margin-top: 10px;
    margin-right: 30%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}

.message_destroy:hover {
    background-color: rgb(253, 121, 121);
}
/* ここまで */

/* メール送信ボタン */
.message_reply {
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    margin-left: 5%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    bottom: 40.55%;
}

.message_reply:hover {
    background-color: rgb(105, 105, 255);
}
/* ここまで */
