@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-image: url('/storage/app/public/images/sp_top_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
}
body {
    background-image: url('/storage/app/public/images/68-688695_spongebob-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.menu-btn {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 3;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    color: #fff;
}

/* メニュー本体 */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: skyblue;
}
/* アニメーション部分 */
.menu {
    transform: translateX(100vw);
    transition: all .3s linear;
    list-style: none;
    color:white;
}

.menu.is-active {
    transform: translateX(0);
}
/* ここまで */

/* 一覧ページ */
.flex-container {
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
}

/* フラッシュメッセージ */
.success-message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    display: inline-block;
}

.error-message {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    display: inline-block;
}

/* ユーザー登録時のメッセージ */
.create-message {
    background-color: green;
    color: white;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    display: inline-block;
}

/* バリデーションメッセージデザイン */
.error-message {
    color: red;
    font-size: 14px;
}
/* ここまで */

.flex-item {
    width: 30%;
    margin: 10px;
    text-align: center;
    text-shadow: 3px -2px 5px blue;
    color :white;
}

.flex-item li {
    padding: 5px;
    font-size: large;
    font-style:italic;
}

.profile-image {
    width: 100%;
}

.profile-info {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.profile {
    width: 50%;
    margin-left: 22%;
    padding-bottom: 20%;
    text-align: center;
    text-shadow: 3px -2px 5px blue;
    color :white;
}

/* ユーザー作成ページ */
.profile-create {
    text-align: center;
}

.profile-create li {
    padding: 1%;
}

/* チャットページデザイン */
.list-group {
    overflow:scroll;
    height: 200px;
}
